body {
    text-align: center;
    font-family: cursive;
}

button {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    border: 0px;
    box-shadow: 4px 4px 8px rgb(216, 216, 216);
}

button:hover, input:hover, textarea:hover {
    background-color: rgb(230, 230, 230);
}

textarea, input {
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    border: 0px;
    font-family: sans-serif;
    font-size: 15px;
    box-shadow: 4px 4px 8px rgb(216, 216, 216);
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

input {
    padding: 20px;
}

label {
    font-size: 20px;
    color: rgb(49, 49, 49);
}

.Comentarios {
    background-color: rgb(243, 243, 243);
    padding: 15px;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 4px 4px 8px rgb(216, 216, 216);
    width: 50%;
}